image = {
  name = "rhel9.4"
  url  = "https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64-disk-kvm.img"
}

vm = {
  cpu    = 1
  disk   = 10 * 1024 * 1024 * 1024
  ram    = 1024
}