#cloud-config
ssh_pwauth: True
chpasswd:
  list: |
     root:linux
  expire: False

users:
  - name: alygin
    gecos: Andrey.P.Lygin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: wheel
    lock_passwd: true
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAo6HNU1BtrM+i4w3gPRkriiS1AGZZv474ooewcGKriudHVu4esDj7hI1LP51OR6K6c8146hxYMcUG7V855vlprbErfCTqnWKJ5MAeL0qD6WMPTOBhGgP3mUYBxjBY+r68SoiatKjN+XBSTQ4SfDcQznrW6UWBjypN2WZtyBB/Ri+8V/9U942qIssLRVQBuwihBZwVM41tyG3HruzRyWzY8AmsT6I0IhBA6CBkDwPbcyi4DnUK5A3cS8pQ3h8y4x9n85CA0gMGr1dSt/O2hIbf+LRYMYamXlP82hQ7wNBf+gzvoG8dPfjIDbOOB4qlLDCu2LfCgDXsNAw9oTNSTcZZmw==
